#root {
    display:flex;
    align-items: center;
    justify-content: center;

}

.Hole {
    width: 64px;
    height: 64px;
    margin: 20px;
    background-image: url('./images/hole.png');
}

.AllHoles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 400px;
    height: 400px;
    margin-top: 150px;
    background-image: url('./images/game-background2.png');
    cursor: url('./images/mallet1.png'), pointer;
}

.Break {
    flex-basis: 100%;
    height: 0;
}

.MoleHole {
    width: 64px;
    height: 64px;
    margin: 20px;
    background-image: url('./images/mole.png');
}

.Items {
    display: flex;
    width: 150px;
    height: 40px;
    margin-left: 50px;
    border-radius: 4px;
    color: #fff;
    font-family: 'Righteous', cursive;
    font-size: 30px;
}


.Image {
    display: flex;
    margin-left: 7px;
    align-items:center;
    justify-content:space-around;
}

.Numbers {
    margin-left: 10px;
    margin-bottom: 2px;
}
