.Conteiner {
  background-color: rgb(7, 73, 22);
  width: 400px;
  height: 400px;
}

.Wrapper {
    margin-bottom: 50px;
}

.TryAgainButton {
    width: 250px;
    height: 65px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 100px;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: .3em 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #eb9999 linear-gradient(#c2a9a9, #cf1919);
    box-shadow: inset #920505 0 -1px 1px, inset 0 1px 1px #750710, #610b0b 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}

.TryAgainButton:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
  }
  .TryAgainButton:active {
    top: 1px;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
  }
  @-webkit-keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
  }
  @keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
  }

.GameOver {
    display: flex;
    flex-direction: row-reverse;
    font-size: 50px;
    margin-bottom: 50px;
    margin-right: 55px;
    color: #fff;
    font-family: 'Righteous', cursive;
    font-weight: normal;
    margin-left: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0  rgb(17, 179, 30);
}

.Copyright {
    font-size: 15px;
    margin-left: 45px;
    color: #fff;
}

h6 {
    margin-bottom: 0;
    margin-block-start: 2px;  
}
